.footer {
  border-top: 1px solid var(--mantine-color-dark-0);
  padding: 20px;
}

[data-mantine-color-scheme='dark'] .footer {
  border-color: var(--mantine-color-gray-1);
}

.created {
  color: var(--mantine-color-dark-0);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

[data-mantine-color-scheme='dark'] .created {
  color: var(--mantine-color-gray-1);
}

.linkStyled {
  color: var(--mantine-color-dark-0);
  transition: color 250ms ease;
}

[data-mantine-color-scheme='dark'] .linkStyled {
  color: var(--mantine-color-gray-1);
}

.linkStyled:hover {
  color: var(--mantine-color-dark-0);
}

[data-mantine-color-scheme='dark'] .linkStyled:hover {
  color: var(--mantine-color-gray-2);
}
