.filterWrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px;
  gap: 18px;
}

.button {
  display: flex;
  height: 44px;
  padding: 12px 50px;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  align-items: center;
  border-radius: 12px;
  background: var(--mantine-color-blue-0);
  color: var(--mantine-color-white);
}
